.selectorsBlock{
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.option {
    display: flex;
    align-items: center;
    gap: 4px;

    background: var(--tg-theme-secondary-bg-color);
    padding: 6px 8px 6px 8px;
    border-radius: 6px;

    cursor: pointer;
    transition: background 0.18s ease, border 0.18s ease;
    border: 1px solid var(--tg-theme-section-separator-color);
}

/* Скрываем настоящий radio */
.option input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid var(--tg-theme-hint-color);
    outline: none;
    cursor: pointer;
    transition: border-color 0.2s ease, background-color 0.2s ease;
    margin-left: 2px;
    margin-right: 10px;
}

/* Когда выбран */
.option input[type="radio"]:checked {
    border-color: var(--tg-theme-button-color);
    background-color: var(--tg-theme-button-color);
}


/* Текст */
.labelText {
    color: var(--tg-theme-text-color);
    font-size: 12px;
    font-weight: 500;
}