.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.innerWrapper {
  width: 200px;

  & h2 {
    text-align: center;
  }

  input[type="text"],
  input[type="number"] {
    margin-top: 6px;
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 6px;
    padding: 1.5em;
    outline: none;
  }

  & p {
    font-size: 11px;
    height: 1em;
    margin-top: 6px;
    text-align: center;
  }
}

.error {
  & input {
    border: 1px solid var(--tg-theme-destructive-text-color) !important;
  }
}

.progressBar {
  position: absolute;
  height: 6px;
  background-color: var(--tg-theme-section-bg-color);
  border-radius: 4px;
  overflow: hidden;
  top: 20px;
  z-index: 1;
}

.progress {
  height: 100%;
  background-color: var(--tg-theme-text-color);
  border-radius: 4px;
  transition: width 0.3s ease;
}

.formButton {
  margin-top: 6px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  border-radius: 6px;

  &:first-of-type {
    margin-top: 20px;
  }
}