.wrapper{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressBar {
  height: 8px;
  background-color: var(--tg-theme-section-separator-color);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;
}

.progress {
  height: 8px;
  background-color: var(--tg-theme-accent-text-color);
  border-radius: 4px;
  transition: width 0.3s ease;
}
